head
	title CS247 P4 Prototype demo
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:300')
	script(src="http://code.jquery.com/jquery-latest.min.js")
	script(src="http://code.jquery.com/jquery-1.9.1.js")
	script(src="/javascripts/rainbowvis.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/leap_control.js")
	script(src="/javascripts/audio_control.js")
	script(src="/javascripts/vis_control.js")
	script(src="/javascripts/index.js")
	script(src="/ContentFlow/contentflow.js")
body
	#my_circle.hide
		.cat_img 
			img(src="images/nyan.gif",width="150px")
	#leap_circle.hide
		.cat_img 
			img(src="images/nyan.gif",width="150px")
	canvas#canvas
	#control.hide
		#select_sound
			#sound_1.select_sound
				img(src="images/instruments/instrument_1.png",width="45px")
				.arrow
			#sound_2.sel_highlighted.select_sound
				img(src="images/instruments/instrument_2.png",width="45px")
				.arrow
			#sound_3.select_sound
				img(src="images/instruments/instrument_3.png",width="45px")
				.arrow
			#sound_4.select_sound
				img(src="images/instruments/instrument_4.png",width="45px")
				.arrow
			#sound_5.select_sound
				img(src="images/instruments/instrument_5.png",width="45px")
				.arrow
			#sound_6.select_sound
				img(src="images/instruments/instrument_6.png",width="45px")
				.arrow
			#sound_7.select_sound
				img(src="images/instruments/instrument_7.png",width="45px")
				.arrow
			#sound_8.select_sound
				img(src="images/instruments/instrument_8.png",width="45px")
				.arrow
			#sound_9.select_sound
				img(src="images/instruments/instrument_9.png",width="45px")
				.arrow
	#cat_select.ContentFlow
		.loadIndicator
			.indicator
		.flow
		.globalCaption
	#loading loading ...
	#note This app is designed for Leap Motion and is compatible with mouse. 
		br 
		| For project information, please visit 
		a(href="http://stanford.edu/~borui/gesture/index.html",target="_blank") our project page
	#instrument_switch.hide 
		img(src="")
	#tutorial.hide
		#progressbar
		#t1.img.hide 
			img(src="images/instruction3.gif")
		#t2.img.hide 
			img(src="images/instruction2.gif")
		#t3.img.hide 
			img(src="images/instruction1.gif")
	#count_down 
	#leap_connection.hide
	#leap_status
	#status.hide
	
	