head
	title CS247 P4 Prototype demo
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:300')
	script(src="http://code.jquery.com/jquery-latest.min.js")
	script(src="http://code.jquery.com/jquery-1.9.1.js")
	script(src="/javascripts/rainbowvis.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/leap_control.js")
	script(src="/javascripts/audio_control.js")
	script(src="/javascripts/vis_control.js")
	script(src="/javascripts/index.js")
	script(src="/ContentFlow/contentflow.js")
body
	#my_circle.hide
		.cat_img 
			img(src="images/nyan.gif",width="200px")
	#leap_circle.hide
		.cat_img 
			img(src="images/nyan.gif",width="200px")
		.tutorial_img
			img(src="images/point.png",width="500px",style="margin-left:100px;margin-top:-80px")
	canvas#canvas(width="400px",height="400px")

	#control
		#select_sound
			#sound_1.sel_highlighted.select_sound
				img(src="images/instruments/instrument_1.png",width="60px")
				.arrow
			#sound_2.select_sound
				img(src="images/instruments/instrument_2.png",width="60px")
				.arrow
			#sound_3.select_sound
				img(src="images/instruments/instrument_3.png",width="60px")
				.arrow
			#sound_4.select_sound
				img(src="images/instruments/instrument_4.png",width="60px")
				.arrow
			#sound_5.select_sound
				img(src="images/instruments/instrument_5.png",width="60px")
				.arrow
			#sound_6.select_sound
				img(src="images/instruments/instrument_6.png",width="60px")
				.arrow
			#sound_7.select_sound
				img(src="images/instruments/instrument_7.png",width="60px")
				.arrow
			#sound_8.select_sound
				img(src="images/instruments/instrument_8.png",width="60px")
				.arrow
			#sound_9.select_sound
				img(src="images/instruments/instrument_9.png",width="60px")
				.arrow
	#loading loading ...
		#loading_text
	#instrument_switch.hide 0
	#tutorial
		#progressbar
		#t1.img.hide 
			img(src="images/instruction1.gif")
		#t2.img.hide 
			img(src="images/instruction2.gif")
		#t3.img.hide 
			img(src="images/instruction3.gif")
	#cat_select.ContentFlow
		.loadIndicator
			.indicator
		.flow
		.globalCaption
	#count_down 
	#leap_connection.hide
	#leap_status
	#status.hide
	
	