head
	title CS247 P4 Prototype demo
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:300')
	script(src="http://code.jquery.com/jquery-latest.min.js")
	script(src="http://code.jquery.com/jquery-1.9.1.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/leap_control.js")
	script(src="/javascripts/audio_control.js")
	script(src="/javascripts/vis_control.js")
	script(src="/javascripts/index.js")
body
	#my_circle
		.cat_img 
			img(src="images/nyan.gif",width="200px")
	#leap_circle.hide
		.cat_img 
			img(src="images/nyan.gif",width="200px")
	canvas#canvas(width="400px",height="400px")

	#control
		#select_sound
			#sound_1.sel_highlighted.select_sound 1
				.arrow
			#sound_2.select_sound 2
				.arrow
			#sound_3.select_sound 3
				.arrow
			#sound_4.select_sound 4
				.arrow
			#sound_5.select_sound 5
				.arrow
			#sound_6.select_sound 6
				.arrow
			#sound_7.select_sound 7
				.arrow
			#sound_8.select_sound 8
				.arrow
			#sound_9.select_sound 9
				.arrow
	#loading 
		#loading_text loading...
	#instrument_switch.hide 0
	#tutorial
		#progressbar
		#t1.img.hide 
			img(src="images/instruction1.jpg")
		#t2.img.hide 
			img(src="images/instruction2.jpg")
		#t3.img.hide 
			img(src="images/instruction3.jpg")
	#leap_connection.hide
	#leap_status
	#status.hide
	
	