head
	title= title
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:300')
	script(src="http://code.jquery.com/jquery-latest.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/leap_control.js")
	script(src="/javascripts/audio_control.js")
	script(src="/javascripts/index.js")
body
	#cs247 CS247 P4 Prototype demo
	#select_sound Use keyboard to select sound
		#sound_1.sel_highlighted.select_sound 1
		#sound_2.select_sound 2
		#sound_3.select_sound 3
		#sound_4.select_sound 4
		#sound_5.select_sound 5
	#loading loading...
	#status
	#my_circle
	#leap_circle
	canvas#canvas(width="100%",height="300px")
	#leap_connection
	#leap_status
	