@font-face {
    font-family: "Notes";
    src: url(ToneDeafBB.ttf) format("truetype");
}
#font-test{
	font-family: "Notes";
	font-size: 40px;
}
body{
    background: #191919;
    font-family: 'Titillium Web';
    font-size: 15px;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#canvas{
	background: #191919;
}
#my_circle{
    width: 16px;
    height: 16px;
    position: fixed;
    background: none;
    border-radius: 8px;
    top:0;
    left: 0;
}
#leap_circle{
    width: 16px;
    height: 16px;
    position: fixed;
    background: none;
    border-radius: 8px;
    top:0;
    left: 0;
}
.other_circle{
    width: 12px;
    height: 12px;
    position: fixed;
    background: none;
    border-radius: 6px;
    top:0;
    left: 0;
}
.other_circle img{
	margin-top: -25px;
}
#select_sound{
	margin: 0 auto;
	width: 900px;
}
#control{
	position: fixed;
	top:5px;
	width: 100%;
}
#loading{
	position: fixed;
	top:0;
	padding-top: 60px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	font-size: 100px;
	text-align: center;
	color: white;
}
#loading_text{
	position: absolute;
	height: 100px;
	margin: -80px auto 0 100px;
	top:50%;
}
.select_sound{
	padding: 5px;
	display: inline-block;
	margin: 5px;
	width: 75px;
	text-align: center;
	opacity: 0.6;
	border-radius: 10px;
}
.sel_highlighted{
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
	opacity: 1.0;
}
.hide{
	display: none;
}
.img{
	margin: 5 auto 0 auto;
	width: 350px;
	opacity: 0.8;
}
#progressbar{
	margin: 95px auto 0 auto;
	width: 0px;
	height: 10px;
	background: rgba(255,255,255,0.6);
}
#tutorial{
	position: fixed;
	z-index: 300;
	width: 100%;
	height: 100%;
	top: 0;
}
#tutorial img{
	width: 340px;
	height: auto;
	border: 5px solid #000;
}
#instrument_switch{
	width: 200px;
    height: 200px;
    position: fixed;
    background: rgba(0,0,255,0.4);
    border-radius: 200px;
    top:50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    font-size: 80px;
    text-align: center;
    color: #fff;
    opacity: 0.6;
    line-height: 180px;
}
.arrow{
	position: absolute;
	height: 5px;
	width: 5px;
	border-radius: 5px;
	background: #ccc;
	margin-left: 35px;
	display: none;
	margin-top: 15px;
}
#cat_select{
	position: fixed;
	z-index: 300;
	width: 100%;
	height: 100%;
	top: 200;
}
